@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');


*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.container-create {
    font-family: "Open Sans", sans-serif;
    max-width: 50rem;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 2em auto;
}



.row.align-items-center.justify-content-center {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.form-block-create {
    background: #fff;
    padding: 30px;
    max-width: 1000px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}

/* .mx-auto {
    margin-left: auto;
    margin-right: auto;
} */

.title {
    text-align: center;
    margin-bottom: 2rem;
}


.h3,
h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    border: none;
    border-radius: 4px;
    height: 54px;
    background: #efefef;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.d-sm-flex {
    display: flex;
    justify-content: space-between;
}

.control {
    display: block;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

.caption {
    padding-left: 15px;
}


.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px;
}

.control input:checked~.control__indicator {
    background: #fb771a;
}

.control input:checked~.control__indicator::after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator::after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.control__indicator::after {
    font-family: 'icomoon';
    content: '✔';
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.forgot-pass {
    position: relative;
    top: 2px;
    font-size: 16px;
    color: #888;
}

.half a {
    color: #888;
    text-decoration: underline;
}

.half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 12px;
}



.half .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-block {
    display: block;
}

.btn-margin {
    margin-left: 0;
}

.control .caption {
    position: relative;
    top: .2rem;
    color: #888;
}

button {
    width: 100%;
    color: #fff;
}


.register {
    margin-bottom: 0;
    font-size: 14px;
}

.register-link {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.inputs-fields {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.5em;
}

.form-group {
    margin-right: 20px;
    flex-basis: 30%;
}




.form-group:last-child {
    flex-basis: 96%;
    width: 100%;

}

.form-group:last-child textarea {
    height: auto;
}

.create-btn {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.error {
    color: red;
}