.delete-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F4F6F8;
    padding: 30px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 4px 4px 8px -3px #615757;
    z-index: 1000;
}

.delete-modal p {
    margin-bottom: 20px;
    color: #FD5D14;
}

.delete-modal.visible {
    display: block;
}

.delete-modal button {
    margin-right: 10px;
}