.container {
    display: flex;
    margin: 2em auto;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    flex-basis: 35%;
}

.container p {
    background-color: black;
    color: #FFF;
    padding: 15px 26px;
    font-size: 18px;
    flex-basis: 35%;
    text-align: center;
}