.catalog_page {
    display: flex;
    margin: 0 auto 4em;
}

.g-5 {
    --bs-gutter-y: 2rem;
    --bs-gutter-x: 2rem;
}


.container-catalog {
    max-width: 1600px;
}



/* Loading */
.loader {
    font-size: 48px;
    color: #FD5D14;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
}

.loader:after {
    content: 'Loading';
    position: relative;
    z-index: 5;
}

.loader:before {
    content: '';
    height: 6px;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(#FF3D00 100%, transparent 0) no-repeat;
    background-size: 0% auto;
    animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
    to {
        background-size: 100% auto
    }
}